@import "../webfonts/grafista-regular.css";

html,
body {
    background-color: gold;
    margin: 0;
    font-family: 'Grafista-Regular', "Droid Sans Mono Dotted", monospace;
}

canvas {
    display: block;
}

body {
    padding: 0 0;
    text-align: center;
}

ul {
    margin-left: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 36px;
}

a, a:visited {
    font-weight: bold;
    font-size: 50px;
    color: gold;
    text-decoration: none;
    background-color: #000;
    padding: 20px;
    display: inline-block;
}

a:hover, a:active, a:focus {
    background-color: blue;
}

.title {
    font-size: 76px;
    color: #000;
    margin-bottom: 120px;
}

.small-title {
    font-size: 36px;
}

.scores-title {
    font-size: 60px;
    color: #000;
}

.play-button,
.play-button:visited {
    background-color: blue;
    font-size: 50px;
    border: 1px solid blue;
}

.play-button:hover, .play-button:active, .play-button:focus {
    color: #000;
    background-color: transparent;
}

.manage-squadron-button,
.manage-squadron-button:visited {
    background-color: black;
    border: 1px solid black;
}

.manage-squadron-button:hover, .manage-squadron-button:active, .manage-squadron-button:focus {
    background-color: transparent;
    color: black;
}

.back-link, .restart-link {
    padding: 12px;
    font-size: 30px;
    display: inline-block;
    margin: 80px 10px 0;
}

.restart-link, .restart-link:visited {
    background-color: blue;
}

.restart-link:hover, .restart-link:active, .restart-link:focus {
    background-color: #000;
}

.holder {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

table {
    margin: 0 auto;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 4px 8px;
}

td {
    border: 1px solid black;
    padding: 0;
}

td input {
    width: 100%;
    border: none;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid black;
    padding: 8px;
    color: black;
}

input[type="submit"] {
    background-color: black;
    border: 1px solid black;
    color: gold;
}

input[type="submit"]:hover {
    background-color: blue;
    border: 1px solid blue;
    cursor: pointer;
}

.red {
    color: red;
}

.pink {
    color: fuchsia;
}

.green {
    color: lawngreen;
}

.cyan {
    color: cyan;
}

.blue {
    color: blue;
}

.yellow {
    color: coral;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 300ms ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
