@import "../webfonts/grafista-regular.css";

html,
body {
    margin: 0;
    font-family: 'Grafista-Regular', "Droid Sans Mono Dotted", monospace;
}

canvas {
    display: block;
}

body {
    padding: 0 0;
    background-color: #000;
    text-align: center;
}

ul {
    margin-left: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 36px;
}

a, a:visited {
    font-weight: bold;
    font-size: 50px;
    color: #000;
    text-decoration: none;
    background-color: #ff3243;
    padding: 20px;
    display: inline-block;
}

a:hover, a:active, a:focus {
    background-color: #61ff83;
}

.title {
    font-size: 76px;
    color: #ff3243;
    margin-bottom: 120px;
}

.small-title {
    font-size: 36px;
}

.scores-title {
    font-size: 60px;
    color: #61ff83;
}

.play-button,
.play-button:visited {
    background-color: #ff3243;
    font-size: 50px;
    border: 1px solid #ff3243;
}

.play-button:hover, .play-button:active, .play-button:focus {
    color: #ff3243;
    background-color: transparent;
}

.manage-squadron-button,
.manage-squadron-button:visited {
    background-color: #61ff83;
    border: 1px solid #61ff83;
}

.manage-squadron-button:hover, .manage-squadron-button:active, .manage-squadron-button:focus {
    background-color: transparent;
    color: #61ff83;
}

.back-link, .restart-link {
    padding: 12px;
    font-size: 30px;
    display: inline-block;
    margin: 80px 10px 0;
}

.restart-link, .restart-link:visited {
    background-color: #61ff83;
}

.restart-link:hover, .restart-link:active, .restart-link:focus {
    background-color: #ff3243;
}

.holder {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

table {
    margin: 0 auto;
    color: #61ff83;
    border: 1px solid #61ff83;
    border-collapse: collapse;
}

th {
    padding: 4px 8px;
}

td {
    border: 1px solid #61ff83;
    padding: 0;
}

td input {
    width: 100%;
    border: none;
}

input {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #61ff83;
    padding: 8px;
    color: #61ff83;
}

input[type="submit"] {
    background-color: #61ff83;
    border: 1px solid #61ff83;
    color: #000;
}

input[type="submit"]:hover {
    background-color: #ff3243;
    border: 1px solid #ff3243;
    cursor: pointer;
}

.red {
    color: #ff3243;
}

.pink {
    color: #ff4fa9;
}

.green {
    color: #61ff83;
}

.cyan {
    color:  #6ddfff;
}

.blue {
    color: #4b6aff;
}

.yellow {
    color: #ffe76a;
}
