{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Game
{% endblock %}

{% block content %}
    <div id="root">
        <input type="number" class="number-of-players" v-model="numberOfPlayers">
        <squadron-select
                v-for="player in players"
                :key="player.id"
                :player="player"
                @next="i => nextSquadron(i)"
                @prev="i => prevSquadron(i)"
        ></squadron-select>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/vectorClass.js"></script>
    <script src="js/scoreClass.js"></script>
    <script src="js/UIClass.js"></script>
    <script src="js/droneClass.js"></script>
    <script src="js/drone-ai.js"></script>
    <script src="app/errors.js"></script>
    <script src="app/form.js"></script>
    <script src="app/game/squadron-select.js"></script>
    <script src="app/game/main.js"></script>
{% endblock %}