{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Game
{% endblock %}

{% block content %}
    <div id="root">
        <div v-if="showMenu" class="select-squadrons-menu">
            <input type="number" class="player-count" v-model="playerCount" @change="updatePlayerCount" min="2" max="6">
            <squadron-select
                    v-for="(player, index) in players"
                    :key="index"
                    :player="player"
                    @next="x => nextSquadron(x)"
                    @prev="x => prevSquadron(x)"
            ></squadron-select>
            <p>
                <button @click="play" class="play-button">Play</button>
            </p>
            <p>
                <a href="{{ path_for('menu') }}">Back</a>
            </p>
        </div>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/vectorClass.js"></script>
    <script src="js/scoreClass.js"></script>
    <script src="js/UIClass.js"></script>
    <script src="js/droneClass.js"></script>
    <script src="js/drone-ai.js"></script>
    <script src="app/errors.js"></script>
    <script src="app/form.js"></script>
    <script src="app/game/squadron-select.js"></script>
    <script src="app/game/main.js"></script>
{% endblock %}