{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Menu
{% endblock %}

{% block content %}
    <div class="holder">
        <h1 class="title">Drone Squadron</h1>
        <a href="{{ path_for('manage-squadron') }}" class="manage-squadron-button">Manage Squadron</a>
        <a href="{{ path_for('select-squadron') }}" class="play-button">Play</a>
    </div>
{% endblock %}