{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Squadrons
{% endblock %}

{% block content %}
    <section id="root">
        <h1 class="title">Manage Squadrons</h1>
        <form method="post" action="{{ path_for('manage-squadron') }}"
              @submit.prevent="onSubmit"
              @keydown="form.errors.clear($event.target.name)">
            <input name="name" value="" placeholder="Team Name" title="Team Name" v-model="form.name">
            <input type="submit" value="Create Team" :disabled="form.errors.any()">
        </form>
        <span class="red"
              v-if="form.errors.has('name')"
              v-text="form.errors.get('name')"></span>
        <squadron-list :squadrons="squadrons"></squadron-list>
        <p>
            <a href="{{ path_for('menu') }}">Back</a>
        </p>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/app/errors.js"></script>
    <script src="/app/form.js"></script>
    <script src="/app/squadron/squadron-list.js"></script>
    <script src="/app/squadron/squadron-item.js"></script>
    <script src="/app/squadron/create-squadron.js"></script>
{% endblock %}