{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Drones
{% endblock %}

{% block content %}
        <h1 class="title cyan">Squadron name: {{ squadron.name }}</h1>
{% endblock %}